.create-contact-heading {
    width: 90%;
    margin: 1rem auto 1rem auto;
}

.create-contact-form {
    width: 90%;
    margin: 0 auto;
}

.create-contact-form input {
    background-color: var(--light-grey);
    border: 0;
    border-bottom: 1px solid;
    border-bottom-color: lightgray;
    border-radius: 5px;
}

.first-and-last-name-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
}

.first-name-control {
    display: flex;
    flex-direction: column;
    width: 42.5%;
    margin-right: 5%;
}

.last-name-control {
    display: flex;
    flex-direction: column;
    width: 42.5%;
}

.email-and-phone-container {
    margin-bottom: 1.5rem;
}

.email-control {
    display: flex;
    flex-direction: column;
}

.phone-control {
    display: flex;
    flex-direction: column;
}

.address1-control {
    display: flex;
    flex-direction: column;
}

.address2-control {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.city-state-zip-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.city-control {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.state-control {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.zip-control {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.categories-and-notes-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
}

.categories-control {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 5%;
}

.notes-control {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.photo-control {
    margin-bottom: 2rem;
}

.select-photo {
    background-color: var(--classic-off-white) !important;
    border-bottom: 0 !important;
    width: 75%;
}

.submit-and-cancel-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.create-contact-submit {
    text-decoration: none;
    background-color: var(--primary-color) !important;
    border: 1px solid !important;
    border-color: var(--primary-color) !important;
    border-radius: 20px !important;
    box-shadow: -1px 2px 6px 0px var(--box-shadow-color);
    color: var(--classic-off-white);
    cursor: pointer;
    font-weight: bold;
    margin-right: 5%;
    padding: 6px 12px;
}

.cancel-button {
    background-color: var(--classic-off-white);
    border: 1px solid var(--red-color);
    color: var(--red-color);
    cursor: pointer;
}