.home-ul {
    display: flex;
    justify-content: right;
    align-items: center;
}

.auth-ul {
    display: flex;
    justify-content: left;
    align-items: center;
}

@media (min-width: 768px) {
    .mobile-nav-container {
        align-items: center;
        flex-direction: row;
    }

    .mobile-nav-menu-icon {
        display: none;
    }

    .mobile-nav-container .hidden {
        display: flex;
    }
}