/***** Global CSS Variables *****/

:root {
  /* colors */
  --primary-color: #8c52ff;
  --secondary-color: #ffbd59;
  --box-shadow-color: #bfbfbfdb;
  --google-blue: #4285F4;
  --google-alt-blue: #1669F2;
  /* temp colors for now */
  --light-grey: #f5f5f5;
  --off-white: #faf0e6;
  --navy: #001f3f;
  --charcoal: #333333;

  /* bp sizes */
  --x-small-bp: 576px;
  --small-bp: 576px;
  --medium-bp: 768px;
  --large-bp: 992px;
  --extra-large-bp: 1200px;
}

/***** CSS Reset *****/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Poppins', sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
