.public-nav li {
    list-style: none;
}

.public-nav a {
    text-decoration: none;
}

.auth-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
}

.auth-ul li {
    padding-inline: 1rem;
}

.auth-navbar-brand {
    font-weight: 600;
    background: var(--text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sign-in-link {
    font-weight: 600;
}
