.main-heading-flex-container {
    width: 90%;
    margin: 1rem auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-contact-icon {
    width: 100%;
    height: 2rem;
}

.view-contacts-search {
    width: 90%;
    margin: 0 5% 1rem 5%;
    padding: 3px 2px 3px 5px;
}

.search-results-container {
    width: 90%;
    height: auto;
    margin: 0 5%;
    background-color: var(--light-grey);
    border-radius: 5px;
    box-shadow: -1px 2px 6px 0px #bfbfbfdb;
    padding-left: 5px;
    position: absolute;
    top: 10.5rem;
    z-index: 5;
}

.search-results-container li {
    list-style: none;
}

.search-results-container a {
    color: black;
    text-decoration: none;
}

.search-results-container a:hover {
    color: var(--primary-color);
}

.contact-container {
    border-bottom: 1px solid;
    border-bottom-color: lightgray;
    width: 100%;
    padding: 0 5%;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-container h1 {
    font-size: 1.3rem;
}

.contact-container p {
    font-size: 0.9em;
}

.contact-card-control-left {
    padding-top: 1rem;
    flex-shrink: 20;
}

.contact-card-control-right {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vc-more-options {
    position: relative;
}

.vc-more-options ul {
    position: absolute;
    right: 0;
    width: 8.2306rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 15px;
}

.vc-more-options a {
    width: 100%;
    border-bottom: 1px solid;
}

.vc-email-contact, .edit-contact-link {
    padding: 2px 0;
}

.vc-email-contact {
    width: 100%;
    border-bottom: 1px solid;
    cursor: pointer;
}

.more-options-ul svg {
    width: 100%;
    height: 1.3rem;
}

.vc-delete-contact {
    width: 100%;
    padding-top: 3px;
    color: var(--red-color);
    cursor: pointer;
}

.contact-card-control-right img {
    width: 80%;
    height: 4.489rem;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}

.email-contact-modal-header {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 1.5rem;
}

.email-contact-subject, .email-contact-textarea {
    border: 1px solid;
    border-radius: 3px;
    margin-bottom: 1rem;
    padding: 4px 6px;
}

.email-contact-subject:focus, .email-contact-textarea:focus {
    outline-color: var(--secondary-color);
}

.email-contact-textarea {
    width: 100%;
    height: 12rem;
}

.send-contact-email-btn {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

/***** MEDIA QUERIES *****/

