.hero-section {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.hero-section img {
    width: 75%;
    height: auto;
}

.hero-section h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
}

.hero-section h1 > .h1-gradient {
    background: -webkit-linear-gradient(left, var(--secondary-color), var(--primary-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cta-section {
    margin-top: .75rem;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.demo-cta {
    background: var(--primary-color);
    border-color: var(--primary-color) !important;
}

.demo-cta > a {
    color: white;
    background: var(--primary-color);
    font-weight: 600;
}

.hero-section-cta {
    background-color: white;
    border-color: var(--primary-color) !important;
}

.hero-section-cta > a {
    color: var(--primary-color);
    background-color: white;
    font-weight: 600;
}