.dropdown {
    background-color: var(--light-grey);
    position: fixed;
    z-index: 2;
    padding: 10px 10px 10px 18px;
    border-radius: 7px;
    box-shadow: 0 2px 6px 0px var(--box-shadow-color);
}