.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
}

.navbar-brand {
    background: -webkit-linear-gradient(left, var(--secondary-color), var(--primary-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-controls {
    width: 25%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-controls a {
    cursor: default;
}

.header-controls a > svg {
    width: 2em;
    height: 2em;
    color: black;
}

.flex-end {
    margin-left: auto !important;
}