.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid lightgrey;
    padding: 0.5rem 5% 1rem 5%;
    /* width 90% margin-left/right auto ? */
}

.navbar-brand {
    background: -webkit-linear-gradient(left, var(--secondary-color), var(--primary-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}